/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid #88470b; 
}


.nav-items > ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-items > ul > li {
    padding: 10px;
}


.logo{
    width: 100px;
    border-radius: 50%;
}

  .login-btn {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color:#df662f; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.login-btn:hover {
  background-color: #e01717;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 234px;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    background-color: #faf6f6;  

  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .card h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #333;
  }
  
  .card p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }

  .restraunt-list{   
    display: flex;
    flex-wrap: wrap;
  }

  .search-container {
    display: flex;
    align-items: center;
    max-width: 300px; 
    margin: 0 auto; 
  }

  .search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    flex-grow: 1;
  }

  .search-btn {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color:#df662f; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover {
    background-color: #e01717;
  }
  
  .shimmer-card {
    width: 200px;
    height: 200px;
    background: lightgrey;
    margin: 20px;
    display: flex;
    flex-direction: row;
  }